body {
    background-color: #1e0f5e;
}

h1 {
    font-family: 'Share Tech', sans-serif;
}


h3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    letter-spacing: 1px;
}

h2 , h1{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400 ;
    color: #fad3af;
}


.rj-container-main {
    height: 100vh;
     background: url(../img/emxheroimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex ;
  align-items: center;
  justify-content: center ;
  position: relative;
}

.rj-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}


.navbar {
       background-color: rgba(0,44,80, .80);
       width: 100%;
    }
.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-nav {
    font-weight: italic;
    }
.navbar-nav .nav-item .nav-link {
    color: #fad3af;
    text-shadow: 0 0 3px #d65900af;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 2px;
}

.navbar .navbar-brand {
color:#fad3af; 
text-shadow: 0 0 4px #d65900;
font-weight: 100;
font-size:22px;
letter-spacing: 3px;
font-family: 'Righteous', sans-serif , cursive;
}

#rj-musik{
    background-image: url("../img/modularcolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}
.rj-intro {
    color:#fad3af;
    background-color: rgba(0,44,80, 0.85);
    height: 50vh;
}

#rj-musik div{
   color: #fafafa;
   background-color: rgba(0,0,0, .6);
   width: 33%;
   height: 300px;
   float: left;
   padding: 30px 0 0 10px;
   text-align: center;
   margin: 2px;

}


#rj-musik h2{
    color:#fafafa;
}

