/* font-family: 'IBM Plex Mono', monospace;
font-family: 'Encode Sans Semi Condensed', sans-serif;
font-family: 'Vampiro One', cursive;
*/

body {
    background-color: #1e0f5e;
}

h1 {
    font-family: 'Share Tech', sans-serif;
}


h3 {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400 ;
    color: #000000;
}


.rj-container-main {
    height: 120vh;
     background: url(../img/emxheroimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex ;
  align-items: center;
  justify-content: center ;
  position: relative;
}

.rj-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}


/* .navbar {
       background-color: rgba(30,15,94, .25);
       width: 100%;
    }*/

.navbar  {
  font-family: 'Vampiro One', Sans Serif;  
  background-color: transparent;
  border: 5px solid red;
  color: #fafafa;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}



.navbar .navbar-nav .nav-item {
     padding: 12px;
     margin: 8px;
    background-color: rgba(0, 44, 80,0.4);
    color: rgba(0, 44, 80);
    font-size: 20px;
    letter-spacing:3px;
    text-decoration: none;
    text-transform: lowercase;
    text-shadow:1px 0 #eecc00, 0 1px 3px #f68f1a ;
    border: 3px outset;
    border-color:#2a72a2 #1C4C6C #193366 #2e5cb8;
    border-width: thin medium thick thin;
    border-radius:18%;
    transition: 0.3s;
}
.navbar .navbar-nav .nav-item:hover{

    background-color: rgba(35, 71, 144,0.4);
    text-decoration: underline;
    border: 3px inset;
    border-width: thick thin thin medium;
    border-color:#193366 #2e5cb8 #2a72a2 #1c4c6c;
}

#rj-musik{
    background-image: url("../img/modularcolor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;

}

#rj-musik div{
   color: #fafafa;
   background-color: rgba(0,0,0, .6);
   width: 33%;
   height: 300px;
   float: left;
   padding: 30px 0 0 10px;
   text-align: center;
   margin: 2px;

}


#rj-musik h2{
    color:#fafafa;
}