
h1 {
    font-family: 'Share Tech', sans-serif;
}


h3 {
    font-family: 'Questrial', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400 ;
    color: #fbfbfb;
}


.rj-container-main {
    height: 70vh;
     background: url(../img/emxheroimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex ;
  align-items: center;
  justify-content: center ;
  position: relative;
}

.rj-bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5)
}

.rj-container-nav {
       background-color: rgba(10, 7, 35, 0.7);
       width: 100%
       height: 75px;
    }
